<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ident">
                    <match url="^/ident/([0-9]+)/([0-9]+)" />
                    <action type="Rewrite" url="/ident/?HSP_TP_CD={R:1}&amp;&amp;MDRC_ID={R:2}" />
                </rule>
                <rule name="preinterview">
                    <match url="^/preinterview" />
                    <action type="Rewrite" url="^/preinterview" />
                </rule>
                <rule name="question">
                    <match url="^question"/>
                    <action type="Rewrite" url="^/question"/>
                </rule>
                <rule name="submit">
                    <match url="^/submit" />
                    <action type="Rewrite" url="^/submit" />
                </rule>

                <rule name="React Routes" stopProcessing="true"> 
                    <match url=".*" /> 
                    <conditions logicalGrouping="MatchAll"> 
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" /> 
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" /> 
                        <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" /> 
                    </conditions> 
                    <action type="Rewrite" url="/" /> 
				</rule> 
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
