.div-header-main{
    background-color: transparent;
    display: flex;
    height: 60px;
}

.img-header-logo{
    width: 25px;
    height: 25px;
}

.div-header-logo{
    background-color: transparent;
    display: flex;
}

.div-header-border{
  background-color:transparent;
  background-color: #ced2fa;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


.div-header-text {
    background-color: transparent;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
