@media (min-width:0px) and (max-width:460px) {
  .inner{
    font-size: calc(15px + 2vmin);
  }
  .font-preinterview-top{
    font-size: calc(10px + 2vmin);
  }
  .answer{
    font-size: calc(15px + 2vmin);
  }
}
@media (min-width:460px) and (max-width:600px) {
  .inner{
    font-size: calc(20px + 2vmin);
  }
  .font-preinterview-top{
    font-size: calc(15px + 2vmin);
  }
  .answer{
    font-size: calc(20px + 2vmin);
  }
}
@media (min-width:600px) {
  .inner{
    font-size: calc(25px + 2vmin);
  }
  .font-preinterview-top{
    font-size: calc(20px + 2vmin);
  }
  .answer{
    font-size: calc(20px + 2vmin);
  }
}

.font-preinterview-top {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  /* font-weight: 400; */
  color: black;
  -webkit-text-size-adjust : none;  /* 크롬, 사파리, 오페라 신버전 */
  -ms-text-size-adjust : none;  /* IE */
  -moz-text-size-adjust : none;  /* 파이어폭스 */
  -o-text-size-adjust : none;  /* 오페라 구버전 */
}

body {
    margin: 0;
    /*overflow-y: hidden;*/
  }
  
.outer {
  height: 100vh;
  /*overflow-y: auto;*/
  /*flex-direction: column;*/
}
  
  /* 화면에서 스크롤바 안보이게 */
  .outer::-webkit-scrollbar {
    display: none;
  }

  .header{
    background-color: aliceblue;
    width: 100%;
    height: 15%;
    top: 0;
    position: fixed;
    text-align: center;
    font-weight: bold;
  }

  .top{
    border-radius: 10px;
    border-color: #655dbb;
    border-style: solid;;
    position: absolute;
    left: 2%;
    background-color: rgb(243, 248, 252);;
    padding: 2%;
    width: 90%;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
  }

  .text-center{
    width: 25%;
    justify-content: center;
    align-items: center;
  }

  .top-text{
    font-size: 30px;
    
  }
  .text{
    font-size: calc(40px + 2vmin);
  }
  
  .inner {
    height: calc(calc(var(--vh,1vh)*100) - 60px);
    width: 92vw;
    display: flex;
    justify-content: left;  /*가로*/
    align-items: center;  /*세로*/
    white-space: pre-wrap;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 25px;
  }

  .submit{
    width: 90%;
    height: 10%;
    background-color: rgb(0,170,238);
    position: fixed;
    bottom: 0;
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
    color: white;
    border-style: none;
    border-radius: 10px;
    box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.5);
  }

  .bottom-fixed {
    position: fixed;
    bottom: 0;
  }  

  .btn-hover {
    width: 90%;
    height: 10%;
    /* position: fixed; */
    bottom: 0;
    
    font-size: xx-large;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-style: none;
    border-radius: 50px; /* 10px */
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

    background-image: linear-gradient(to right, #bface2, #3e54ac, #655dbb);
    /* background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673); */
    box-shadow: 0 4px 15px 0 #bface2; /*rgba(49, 196, 190, 0.75);*/
}

.btn-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.answer{
  padding: 2%;
  width: 92vw;
}

.progress-container{
  background-color: transparent;
  display: flex;
  align-items: center;  
  margin-top: 1%;
  margin-bottom: -1.5%;
}


  progress {
    width: 93%;
    /* height: 3vmin; */
    height: 0.5rem;
    appearance: none;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
  }
  
  progress::-webkit-progress-value {
    /* background-color: #F44336; */
    background-image: linear-gradient(to right, #FF9A00, #F44336 70%);
    border-radius: 5px;
    
  }
  
  progress::-moz-progress-bar {
    /* background-color: #F44336; */
    background-image: linear-gradient(to right,#FF9A00, #F44336 70%);
    border-radius: 5px;
  }
  
  span {
    display: inline-block;
    margin-left: 2%;
    /* font-size: 5vmin; */
    font-size: 1.25rem;
    font-weight: bold;
  }

  .top-colon{
    width: 5%;
    justify-content: center;
    align-items: center;
  }